@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
    font-family: 700;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-family: 500;
}